@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Знайомство з ASP</h1>
<h3>
    <a href="/Home/Privacy">Вступ</a>
</h3>
<h3>
    <a href="/Home/Razor">Синтаксис Razor</a>
</h3>
<h3>
    <a href="/Home/Transfer">Передача даних</a>
</h3>
<h3>
    <a asp-controller="Home" asp-action="Ioc">Інверсія управління</a>
</h3>
<h3>
    <a asp-controller="Home" asp-action="Db">Робота з базами даних</a>
</h3>

