@{
    ViewData["Title"] = "Вступ";
}
<h1>@ViewData["Title"]</h1>

<h3>
    Структура проєкту.
</h3>
<p>
    Проєкт складається з кількох структурних частин.
    <code>wwwroot</code> - корень "сторінки" - те, що безпосередньо доступно
    з браузера. Тут стилі, скрипти, картинки тощо<br />

    <code>Controllers</code> - класи управління групами сторінок.
    За замовчанням, в ASP прийнята маршрутизація
    <strong>/Controller/Action</strong>. Один контролер обслуговує
    декілька сторінок шляхом вибору методу за іменем, яке збігається
    з частиною маршруту "Action"<br/>

    <code>Views</code> - представлення. Також групуються за іменами
    контролерів (папки з їх іменами). Імена самих представлень відповідають
    методам ("Action") і також автоматично визначаються інструкціями
    <code>return View();</code>. Представлення стає частиною (тілом)
    шаблона _Layout, який знаходиться у папці Shared
    <br/>

    <code>Models</code> - моделі (у розумінні ASP) - класи, що
    призначені для передачі даних (комплексу даних) між Контролерами
    та Представленнями
</p>